.img-meta-container{
	width:100%;
	border: 1px solid;
	padding: 5px;
	margin-bottom:10px;
}
.img-block-container{
	width:100%;
}    
.js-width-input{
	width:50% !important;
	float:left;
}
.js-height-input{
	width:50% !important;
}
.editable-form {padding:20px; /*background:#fffcc3; border:1px solid #000;
    line-height:1em; border-radius:4px; min-width:350px;
    box-shadow: 0 0 80px #222;*/}