.img-meta-container{
	width:100%;
	border: 1px solid;
	padding: 5px;
	margin-bottom:10px;
}
.img-block-container{
	width:100%;
}    
.js-width-input{
	width:50% !important;
	float:left;
}
.js-height-input{
	width:50% !important;
}
.editable-form {padding:20px; background:none; border:none;
    line-height:none; border-radius:none; min-width:none;
    box-shadow:none;}